# --- Deep Learning & Model ---
torch
transformers
peft
trl
bitsandbytes
datasets
huggingface_hub

# --- Web API & Server (Mới thêm) ---
fastapi
uvicorn
pydantic
gradio

# --- Tracking & MLOps ---
mlflow
# dvc[gdrive]